        <div class="ResumeListElementNew_text">
            <div class="sj_block m_b_1">
                <a class="sj_h3 ResumeListElementNew_profession"
                   href="https://www.superjob.ru/resume/programmist-python-20379183.html?keys%5B0%5D=%D0%9F%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%81%D1%82+python&skwc%5B0%5D=and&srws%5B0%5D=10"
                   title="Программист Python"
                   ng-click="resumeViewed_20379183=1;"
                   target="_blank"
                ><span class="sj_match_highlight">Программист</span> <span class="sj_match_highlight">Python</span></a>
            </div>
            <div class="sj_block m_b_1">

                <div class="ResumeListElementNew_font_size_0">
                    <span class="sj_text ResumeListElementNew_bold">По договоренности</span>
                    <span class="sj_text">, 25 лет</span>
                    <span class="sj_text">, Москва</span>
                    

                    <!--языки-->
                    <span style="text-transform: lowercase">
                            <span class="sj_text">, Английский (Свободно владею)</span>
                            <span ng-hide="showAllLanguages20379183">
                                <span class="sj_text">&nbsp;</span>
                                <a
                                        ng-click="showAllLanguages20379183=1;"
                                        class="h_color_black h_border_dotted sj_text"
                                        href="javascript:void(0)"
                                >и&nbsp;еще 1</a>,
                            </span>
                            <span ng-show="showAllLanguages20379183" ng-cloak>
                                
                                    <span class="sj_text">, Немецкий (Базовый)</span>
                                
                            </span>
                            <span ng-show="showAllLanguages20379183" ng-cloak>
                                <span class="sj_text">&nbsp;</span>
                                <a
                                        ng-click="showAllLanguages20379183=0;"
                                        class="h_color_black h_border_dotted sj_text"
                                        href="javascript:void(0)"
                                >скрыть</a>
                            </span>
                    </span>
                    <!--/языки-->

                    <span class="sj_text">, стаж 5 лет и 1 месяц</span>
                </div>

                    <div>
                            <a href="javascript:void(0)"
                               class="h_color_black h_border_dotted"
                               ng-click="workDescriptionVisible_20379183 = !workDescriptionVisible_20379183; vm.viewResume(20379183, (resumeViewed_20379183 || 0)); resumeViewed_20379183=1; showAllProfession20379183=1; registerActionInAnalytics(20379183, workDescriptionVisible_20379183);">Руководитель отдела</a>,
                         ООО "Оксиджен Софтвер", 
                        2 года и 7 месяцев
                        (по настоящее время)
                    </div>
            </div>
            <div class="sj_block m_b_2 ResumeListElementNew_work_description"
                 ng-class="{'m_visible': workDescriptionVisible_20379183 }"
                 sj-shorten-text
                 sj-shorten-text-max-lines="10"
                 sj-shorten-text-line-len="64"
                 sj-shorten-text-title="longExperienceDescriptionTitle">- Вывела разрабатываемое ПО на первое место среди конкурентов по количеству поддерживаемых приложений. Секция получает высокие оценки от пользователей на конференциях, докладах и т.д.
- Координирование работы 4-х человек
- Обучение новых сотрудников отдела</div>

                <div class="sj_block m_b_2">
                    <div class="ResumeListElementNew_previous_professions_wrap">
                        <div class="ResumeListElementNew_previous_professions h_text_overflow_ellipsis" ng-class="{
                            'ResumeListElementNew_previous_professions--extend': showAllProfession20379183
                        }">
                            <span>Инженер-программист </span><a href="javascript:void(0)" ng-click="showAllProfession20379183=0;" class="h_border_dotted h_color_black" ng-show="showAllProfession20379183 && vm.isEnoughLettersInProfessionString('\u0418\u043D\u0436\u0435\u043D\u0435\u0440\x2D\u043F\u0440\u043E\u0433\u0440\u0430\u043C\u043C\u0438\u0441\u0442')" ng-cloak>скрыть</a>
                            <div class="ResumeListElementNew_previous_professions_button_more" ng-click="showAllProfession20379183=1;">
                                <a href="javascript:void(0)" class="h_border_dotted h_color_black" ng-show="!showAllProfession20379183 && vm.isEnoughLettersInProfessionString('\u0418\u043D\u0436\u0435\u043D\u0435\u0440\x2D\u043F\u0440\u043E\u0433\u0440\u0430\u043C\u043C\u0438\u0441\u0442')" ng-cloak>еще {%vm.professionHideCount('\u0418\u043D\u0436\u0435\u043D\u0435\u0440\x2D\u043F\u0440\u043E\u0433\u0440\u0430\u043C\u043C\u0438\u0441\u0442')%}</a>
                            </div>
                        </div>
                    </div>
                </div>

            <div>
            </div>